<div class="modal-header">
  <h3 class="modal-title">Welcome <strong>{{ team.name }}</strong>!</h3>
</div>
<div class="modal-body">
  <form name="loginForm" novalidate role="form">
    <span class="help-block">Create an account to claim your team and enter the draft</span>
    <div class="form-group" ng-class="{ 'has-error': loginForm.isSubmitted && loginForm.email.$invalid }">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" ng-model="user.email" required placeholder="">
      <p class="help-block" ng-show="loginForm.isSubmitted && loginForm.email.$error.required">Please enter an email</p>
      <p class="help-block" ng-show="loginForm.isSubmitted && loginForm.email.$error.email">Email is not in a valid format</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.isSubmitted && loginForm.password.$invalid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="">
      <p class="help-block" ng-show="loginForm.isSubmitted && loginForm.password.$error.required">Please enter a password</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success" ng-click="login()">Join Draft</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
