<div class="panel panel-primary current-auction">
  <div class="panel-heading">
    <h3 class="panel-title">Current Auction</h3>
  </div>
  <div class="panel-body">
    <div class="row" ng-show="auction.player">
      <div class="col-xs-6 col-sm-4">
        <h2 class="player-name">{{ auction.player.name }} <small>{{ auction.player.position }}, {{ auction.player.team }}</small></h2>
        <p>Nominated by: <strong>{{ auction.entry.name }}</strong></p>
        <p>Highest bid: <strong>${{ auction.highestBid().amount }}</strong> by <strong>{{ auction.highestBid().entry.name }}</strong></p>
        <p><a href="" class="btn btn-success" ng-click="finishAuction()">Finish</a> <a href="" class="btn btn-default" ng-click="cancelAuction()">Cancel</a></p>
      </div>
      <div class="col-xs-12 col-sm-8 bid-actions">
        <p>
          <span>Quick Bid:</span>
        </p>
        <p>
          <a href="" ng-click="submitBid(quickBid)" ng-repeat="quickBid in quickBids()" class="btn btn-success btn-quick-bid">${{ quickBid }}</a>
        </p>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" ng-model="user.bid">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="submitBid()">Submit Bid</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row" ng-hide="auction.player">
      <div class="col-xs-12">
        <p>No player is currently up for auction</p>
      </div>
    </div>
  </div>
</div>
