<div class="panel panel-default current-auction">
  <div class="panel-body" ng-if="currentAuction.startTime && currentAuction.playerId">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="player-name">{{ currentAuction.$player.name }} <small>{{ currentAuction.$player.position }} - {{ currentAuction.$player.team }}</small></h2>
      </div>
    </div>
    <div class="row" ng-show="myTeam.isAdmin">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <p>
          Bid as:
          <select ng-if="myTeam.isAdmin" class="form-control" ng-model="bidForm.team" ng-options="team.$id as team.name for team in poolTeams"></select>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-6">
        <table class="table table-striped auction-bids">
          <tbody>
            <tr ng-repeat="bid in currentBids">
              <td class="number">${{ bid.amount }}</td>
              <td>{{ bid.$team.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6 auction-bid-form">
        <p>
          <a href="" ng-click="submitBid(quickBid)" ng-repeat="quickBid in quickBids() track by quickBid" class="btn btn-success btn-quick-bid">${{ quickBid }}</a>
        </p>
        <p>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" ng-model="bidForm.amount" ng-bind="bidForm.amount">
            <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="submitBid()">Submit Bid</button>
                </span>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="currentAuction.startTime && !currentAuction.playerId">
    <div class="row">
      <div class="col-xs-12">
        <h2><strong>{{ currentAuction.$team.name }}</strong> please nominate a player...</h2>
      </div>
    </div>
  </div>
  <div class="panel-footer" ng-if="currentAuction.startTime && currentAuction.playerId && myTeam.isAdmin">
    <p class="align-right">
      <a href="" class="btn btn-primary" ng-click="finishAuction()">Complete Auction</a>  <a href="" class="btn btn-danger" ng-click="cancelAuction()">Cancel</a>
    </p>
  </div>
</div>
