<ul class="draft-order">
  <li ng-repeat="poolTeam in poolTeams track by poolTeam.$id" ng-class="{ 'nominating-team': currentAuction.teamId === poolTeam.$id }">
    <div class="draft-index">{{ poolTeam.draftOrder }}</div>
    <div class="team-name">{{ poolTeam.name }}</div>
    <div class="cash-left">${{ poolTeam.cash }}  <span class="text-muted">/</span> <span class="max-bid" ng-class="{ bad: poolTeam.maxBid < 5 }">${{ poolTeam.maxBid }}</span></div>    
    <div ng-if="showRosters" pool-team team="poolTeam" condensed="true" showHeader="false"></div>
  </li>
</ul>
