<table class="table table-striped table-bordered pool-team" ng-class="{ 'table-condensed': condensed }">
  <thead ng-show="showHeader">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="rosterSpot in team.roster track by $index" ng-class="{ 'inactive': !rosterSpot.isActive }">
      <th>{{ rosterSpot.position }}</th>
      <td>{{ rosterSpot.player.lastName }} <span class="player-position" ng-show="rosterSpot.player.position.split(',').length > 1">{{ rosterSpot.player.position }}</span></td>
      <td class="number"><span ng-show="rosterSpot.cost">$</span>{{ rosterSpot.cost }}</td>
    </tr>
  </tbody>
</table>
