<form name="poolForm" novalidate role="form">
  <div class="form-group" ng-class="{ 'has-error': poolForm.isSubmitted && poolForm.name.$invalid }">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="pool.name" required placeholder="">
    <p class="help-block" ng-show="poolForm.isSubmitted && poolForm.name.$error.required">Please enter a name for the pool</p>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submit(pool)">Submit</button>
  <button type="submit" class="btn btn-danger" ng-click="reset()">Reset</button>
  <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
