$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.draft-order {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: table;
  width: 100%;
}

.draft-order > li {
  display: table-cell;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.draft-order > li:first-child {
  border-left: 1px solid #ddd;
}

.player-filters {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.player-filters > li {
  border-right: 1px solid #ddd;
}

.player-filters > li > a {
  border-radius: 0;
}

.player-filters > li:last-child {
  border-right: 0;
}
