<div class="row">
  <div class="col-xs-12">
    <a href="" class="btn btn-primary" ng-click="startDraft()">Start Draft</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div draft-order></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="6">Players Remaining</th>
        </tr>
        <tr>
          <th>C</th>
          <th>LW</th>
          <th>RW</th>
          <th>D</th>
          <th>G</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ draftStats().remaining.c }}</td>
          <td>{{ draftStats().remaining.lw }}</td>
          <td>{{ draftStats().remaining.rw }}</td>
          <td>{{ draftStats().remaining.d }}</td>
          <td>{{ draftStats().remaining.g }}</td>
          <td>{{ draftStats().remaining.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-info" ng-show="draft.currentAuction.player">
      <div class="panel-heading">
        <h3 class="panel-title">On The Block</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <h3>{{ draft.currentAuction.player.name }}</h3>
          </div>
          <div class="col-xs-6 col-lg-6">
            <p>Nominated by: <strong>{{ draft.currentAuction.entry.name }}</strong></p>
            <p>Highest bid: <strong>${{ draft.currentAuction.highestBid().amount }}</strong> by <strong>{{ draft.currentAuction.highestBid().entry.name }}</strong></p>
          </div>
          <div class="col-xs-12 col-lg-6 bid-actions">
            <p>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 1}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 2}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 3}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 4}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 5}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 10}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 15}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 20}}</a>
              <a href="" ng-click="submitBid(amount)" class="btn btn-success">${{ draft.currentAuction.highestBid().amount + 50}}</a>
            </p>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Submit Bid</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><a href="" ng-click="sortPlayers('rank')">Rank</a></th>
          <th><a href="" ng-click="sortPlayers('lastName')">Name</a></th>
          <th><a href="" ng-click="sortPlayers('position')">Position</a></th>
          <th><a href="" ng-click="sortPlayers('team')">Team</a></th>
          <th>Drafted By</th>
          <th>Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="grid.hideDrafted && player.owner"
            ng-repeat="player in grid.data | orderBy:grid.sort:grid.reverse track by player.id"
            ng-class="{ info: draft.currentAuction.player.id === player.id }">
          <td>{{ player.rank }}</td>
          <td>{{ player.lastName }}, {{ player.firstName }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.team }}</td>
          <td>{{ player.owner.name }}</td>
          <td></td>
          <td><a href="" class="btn btn-primary btn-sm" ng-show="showNominate(player)" ng-click="nominatePlayer(player)">Nominate</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
