<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Welcome to Auction 2014</h1>
        <h4>Please select your name to sign in:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
              <span class="glyphicon glyphicon-tower"></span>
              Navid</h4>
            <p class="list-group-item-text">6th season</p>
            <p class="list-group-item-text">Last year: <strong>1st</strong></p>
          </a>
          <a href="#" class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">Loreto</h4>
            <div class="pull-right">
              <span class="glyphicon glyphicon-ok"></span> &nbsp;<span class="muted">Registered</span>
            </div>
            <p class="list-group-item-text">4th season</p>
            <p class="list-group-item-text">Last year: <strong>2nd</strong></p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"> Mike P.</h4>
            <p class="list-group-item-text">6th season</p>
            <p class="list-group-item-text">Last year: <strong>3rd</strong></p>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Dan</h4>
            <p class="list-group-item-text">5th season</p>
            <p class="list-group-item-text">Last year: <strong>5th</strong></p>
          </a>
          <a href="#" class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">Bobby</h4>
            <div class="pull-right">
              <span class="glyphicon glyphicon-ok"></span> &nbsp;<span class="muted">Registered</span>
            </div>
            <p class="list-group-item-text">6th season</p>
            <p class="list-group-item-text">Last year: <strong>6th</strong></p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Dave</h4>
            <p class="list-group-item-text">3rd season</p>
            <p class="list-group-item-text">Last year: <strong>7st</strong></p>
          </a>
          <a href="#" class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">Terry</h4>
            <div class="pull-right">
              <span class="glyphicon glyphicon-ok"></span> &nbsp;<span class="muted">Registered</span>
            </div>
            <p class="list-group-item-text">6th season</p>
            <p class="list-group-item-text">Last year: <strong>8th</strong></p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-plus"></span> Mike M.</h4>
            <p class="list-group-item-text">1st season</p>
            <p class="list-group-item-text">Welcome to the pool!</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
