<div class="row">
  <div class="col-xs-12">
    <a href="" class="btn btn-danger" ng-click="randomizeOrder()">Randomize Order</a> <a href="" class="btn btn-danger" ng-click="importPlayers()">Import Players</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div draft-order></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div auction-block auction="currentAuction"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div pool-team team="selectedPoolTeam" pool="pool"></div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">All Players</h3>
      </div>
      <div class="panel-body">
        <p>
          <label class="checkbox-inline">
            <input type="checkbox" id="hideDrafted" ng-model="players.hideDrafted" ng-click="hideDrafted()"> Hide drafted
          </label>
        </p>
        <ul class="nav nav-tabs player-filters" role="tablist">
          <li ng-class="{ active: !players.filter }"><a href="" ng-click="filterPlayers()">All <span class="label label-primary">{{ draftStats().remaining.total }}</a></li>
          <li ng-class="{ active: players.filter === 'C' }"><a href="" ng-click="filterPlayers('C')">Center <span class="label label-primary">{{ draftStats().remaining.c }}</a></li>
          <li ng-class="{ active: players.filter === 'RW' }"><a href="" ng-click="filterPlayers('RW')">Right Wing <span class="label label-primary">{{ draftStats().remaining.rw }}</a></li>
          <li ng-class="{ active: players.filter === 'LW' }"><a href="" ng-click="filterPlayers('LW')">Left Wing <span class="label label-primary">{{ draftStats().remaining.lw }}</a></li>
          <li ng-class="{ active: players.filter === 'D' }"><a href="" ng-click="filterPlayers('D')">Defense <span class="label label-primary">{{ draftStats().remaining.d }}</a></li>
          <li ng-class="{ active: players.filter === 'G' }"><a href="" ng-click="filterPlayers('G')">Goalie <span class="label label-primary">{{ draftStats().remaining.g }}</a></li>
        </ul>
        <div player-list players="players.filtered" sort="players.sort" reverse="players.reverse"></div>
      </div>
    </div>
  </div>
</div>
